.child{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

h2{
    text-align: center;
    color: #1E90FF;
}

button{
    margin-left: 5px;
    color: #fff;
    background-color: #1E90FF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input{
    height: 20px;
}