<div class="parent">
  <!-- <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
      <th>Email</th>
      <th>Address</th>
    </tr> -->
    <!-- We must use pipe to get the data from Observable -->
    <!-- We can use async pipe to get the data from Observable -->
    <!-- We can use subscribe method to get the data from Observable -->
    <!-- <tr *ngFor="let data of userData | async"> -->

    <!-- <tr *ngFor="let data of userData$ | async">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.username}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.website}}</td>
      <td>{{data.company.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.address.street}}, {{data.address.city}}, {{data.address.zipcode}}</td>
    </tr>
  </table> -->


  <!-- {{userData}} -->
  <!-- <h2>Parent Component</h2> -->
  <!-- <ul> -->
    <!-- <li *ngFor="let chat of chats"> {{chat}}</li> -->
  <!-- </ul> -->
  <!-- <label for="parent-chat"></label> -->
  <!-- <input type="text" id="parent-chat" #parentChat> -->
  <!-- <button (click) = "parentToChild">Send</button> -->
  <!-- <app-chat (newChatEvent) = "addChats(parentChat.value)"></app-chat> -->
  <!-- <ul>
    <li *ngFor="let bev of beverages"> {{bev}}</li>
  </ul>
  <app-beverages [beverage]="currentBeverage" [name]="name" (newBeverageEvent) = "addBeverage($event)"> </app-beverages>  -->
</div>